<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->



<div id='startPageTextbox'>
  <h1>
    A Home Dinner Service
  </h1>
  <hr>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <p>
    <a id='startToSelectDishButton' type='button' class='btn btn-warning' href="#/search" >Create new dinner</a>
  </p>
</div><!-- startPageTextbox end -->
